@import 'proto-ui.vusion/src/base/global.css';

$brand-primary: #308fff;
$brand-info: #36a3f7;
$brand-success: #34bfa3;
$brand-warning: #ffb518;
$brand-error: #f34f69;

$border-color-base: #c8cdd2;
$color-base: #64686e;

$margin-base: 0;

$cursor-pointer: default;

$width-base: 100px;
$height-base: 26px;

$border-radius-base: 2px;

$transition-duration-base: 0.2s;
